body {
  font-family: "Ubuntu", sans-serif;
  background: #2e2525;
  background: linear-gradient(
    90deg,
    rgba(46, 37, 37, 1) 0%,
    rgba(26, 84, 60, 1) 100%,
    rgba(161, 161, 143, 1) 52%
  );
  margin: 10px 10px;
}

.t1 {
  color: white;
  margin: 20px 10px;
}

.t2 {
  color: greenyellow;
  margin: 3px 10px;
}

.pwd {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#btn {
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: medium;
  font-weight: bold;
}

#pw1 {
  background: rgb(232, 169, 10);
  padding: 5px 50px;
  border-radius: 10px;
}

#pw2 {
  background: rgb(232, 169, 10);
  padding: 5px 50px;
  border-radius: 10px;
}
